{{left}}#component "component-standard-tab-container {{paramName}} js-comp"{{right}}
  <div class="tab component-tab data-structor">
    {{left}}#with _DATA_{{right}}
    <div class="tab-contents clearfix">
      <div data-role="content" class="tab-content">
        <div class="component-body">
          {{left}}> component:{{bundle}}/{{paramName}}/backend_templates/unit_operator{{right}}
          {{left}}> component:{{bundle}}/{{paramName}}/backend_templates/unit_context{{right}}
        </div>
        <div class="component-footer"></div>
      </div>
    {{left}}/with{{right}}
  </div>
{{left}}/component{{right}}
