{{#with data}}
<div class="modal">
  <div class="modal-header">
    <h2>更新字段</h2>
  </div>
  <form class="form data-update-form" data-id={{id}}>
    <fieldset>
      <div class="modal-dialog">
        <span>
          <label for="name">{{i18n "Name" bundle="terminus"}}</label>
          <input id="name" type="text" name="name" value={{name}}></input>
        </span>
        <span>
          <label for="mobile">{{i18n "Mobile" bundle="terminus"}}</label>
          <input id="mobile" type="text" name="mobile" value={{mobile}}></input>
        </span>
        <span>
          <label for="type">{{i18n "Type" bundle="terminus"}}</label>
          <input id="type" type="text" name="type" value={{type}}></input>
        </span>
        
        
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-info close">关闭</button>
        <button type="submit" class="btn btn-success js-update">保存</button>
      </div>
    </fieldset>
  </form>
</div>
{{/with}}
